.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f6f8;
}

.login-box {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  width: 320px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.textbox {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  border-radius: 5px;
  height: 32px;
  font-size: 14px;
}

.button {
  width: 100%;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  background-color: cadetblue;
  

  &:hover {
    background-color: #4a8b8b;
  }

  &__large {
    font-size: 16px;
    padding: 6px 10px
  }

  &__small {
    font-size: 14px;
    padding: 4px 8px;
  }

  &--red {
    background-color: red;
  }

  &--green {
    background-color: green;
  }
}
.link_blue{
    color: blue;
    text-decoration: none;
    font-size: 14px;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mb-20{
    margin-bottom: 20px;
}
.fs-12{
    font-size: 12px;
}
.color_grey{
    color: grey;
}